networks:
  lumagate_net:
    driver: bridge

services:
  lumagate-gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: lumagate-gateway
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - lumagate_net

  servicea_v1:
    build:
      context: ./services/v1/serviceA
      dockerfile: Dockerfile
    container_name: servicea_v1
    restart: unless-stopped
    networks:
      - lumagate_net

  serviceb_v1:
    build:
      context: ./services/v1/serviceB
      dockerfile: Dockerfile
    container_name: serviceb_v1
    restart: unless-stopped
    networks:
      - lumagate_net

  servicec_v1:
    build:
      context: ./services/v1/serviceC
      dockerfile: Dockerfile
    container_name: servicec_v1
    restart: unless-stopped
    networks:
      - lumagate_net

  servicea_v2:
    build:
      context: ./services/v2/serviceA
      dockerfile: Dockerfile
    container_name: servicea_v2
    restart: unless-stopped
    networks:
      - lumagate_net

  serviceb_v2:
    build:
      context: ./services/v2/serviceB
      dockerfile: Dockerfile
    container_name: serviceb_v2
    restart: unless-stopped
    networks:
      - lumagate_net

  servicec_v2:
    build:
      context: ./services/v2/serviceC
      dockerfile: Dockerfile
    container_name: servicec_v2
    restart: unless-stopped
    networks:
      - lumagate_net

  lumagate-dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    container_name: lumagate-dashboard
    ports:
      - "80:80"
    depends_on:
      - lumagate-gateway
      - servicea_v1
      - serviceb_v1
      - servicec_v1
      - servicea_v2
      - serviceb_v2
      - servicec_v2
    restart: unless-stopped
    networks:
      - lumagate_net
